<div id="chat-messages-container" class="mb-8 mx-auto container bg-gray-100">
    <ul id="chat-messages-list" class="p-4 h-72 overflow-y-scroll">
        <li 
            *ngFor="let msg of messages" 
            class="p-2 my-4 shadow-md break-words" 
            [ngClass]="{
                'bg-blue-500 ml-20': myUser.username === msg.from.username,
                'bg-gray-200 mr-20': myUser.username !== msg.from.username,
                'text-white': myUser.username === msg.from.username,
            }"
        >
            <span *ngIf="myUser.username !== msg.from.username" class="text-xs">{{myUser.username === msg.from.username ? "Tú" : msg.from.username}}</span>
            <hr *ngIf="myUser.username !== msg.from.username">
            <p>{{msg.body}}</p>
        </li>
    </ul>
</div>

<form (ngSubmit)="send()">
    <div class="flex gap-4">
        <input 
            [(ngModel)]="message"
            name="message"
            type="text" 
            placeholder="Mensaje..."
            autofocus
            autocomplete="off"
            class="py-4 px-2 bg-gray-200 w-full"
        >
        <input 
            type="submit"
            value="Enviar"
            class="cursor-pointer w-1/4 bg-blue-500 hover:bg-blue-600 text-white shadow-sm"
        >
    </div>
</form>